<h1>Venues</h1>
<ul>
  <% @venues.each do |venue| %>
    <li class="venue"><a href="#"><%= venue.name %></a></li>
  <% end %>
</ul>

<%= link_to 'Add New Venue', new_venue_path, class: "button", role: "button" %>
