<div class="venue">
  <h3><%= @venue.name %></h3>
  <h3><%= @venue.category %></h3>

  <div>
  <% if user_signed_in? %>
    <%= link_to "Edit Venue", edit_venue_path(@venue) %>
    <%= link_to "Delete Venue", venue_path(@venue), method: :delete %>
  <% end %>
  </div>
</div>
